<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.trans.pvz" platformBuildVersionCode="33" platformBuildVersionName="13">
    <application android:icon="@mipmap/icon" android:label="PvZ TV对战版" android:resizeableActivity="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:configChanges="touchscreen|keyboard|keyboardHidden|orientation" android:exported="true" android:launchMode="singleTask" android:name="com.trans.pvz.GameLauncher" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:exported="true" android:icon="@mipmap/set" android:label="附加设置" android:launchMode="singleTask" android:name="com.trans.SetActivityEntrance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:icon="@mipmap/set" android:label="附加设置" android:name="com.trans.SetActivity"/>
        <activity android:exported="true" android:icon="@mipmap/set" android:label="@string/unzip" android:name="com.trans.UnzipActivity"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
    </application>
</manifest>
