<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trans.pvz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="PvZ-Xenon"
        android:resizeableActivity="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        
        <activity
            android:name="com.trans.pvz.GameLauncher"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.trans.SetActivityEntrance"
            android:exported="true"
            android:icon="@mipmap/set"
            android:label="@string/settings_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.trans.SetActivity"
            android:exported="true"
            android:icon="@mipmap/set"
            android:label="@string/settings_title" />

        <activity
            android:name="com.trans.UnzipActivity"
            android:exported="true"
            android:icon="@mipmap/set"
            android:label="@string/unzip_title" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>
